html
  head
    script(src="https://connectia.ygstr.com/client/Connectia.js")
    title Connectia Example
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
  body
    block content
  script(src="main.js")