extends layout

block content
    h1 Login
    input(type="text" placeholder="Username" id="username")
    br
    input(type="password", name="" placeholder="Password" id="password")
    br
    button(onclick="login()") Login / Signup